* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    --primary-color: #FF6060;
    --location-section-bg : #F6F6F6;
}

a {
    color: inherit;
    text-decoration: none;
}
/***** HEADER *****/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 100px;
}
.kasa-logo {
    height: 68px;
    width: 210px;
    margin-left: 70px;
    margin-top: 40px;
}
.linki{
    margin-right: 70px;
    position: relative;
}
.nav-link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: clamp(12px, 3vw, 24px);
    margin-left: 57px;
}
.active-link {
    text-decoration: underline;
}

/**** IMG HOME ****/
.div-banner {
    display: flex;
    justify-content: center;
    height: 223px;
    width: 100%;
    margin-top: 80px;
    position: relative;
}
.img-home {
    display: flex;
    justify-content: center;
    height: 223px;
    width: 100%;
    margin-top: 80px;
    position: relative;
}
.banner {
    border-radius: 25px;
    width: 80%;
    height: 223px;
    overflow: hidden;
    position: relative;
}
.title-img {
    display: flex;
    top: 90px;
    font-size: 48px;
    font-weight: 500;
    position: absolute;
    color: #fff;
}

/***** LOCATIONS *****/
.location-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 30px 0;
    width: 100%;

}
.location-section-div {
   
    display: flex;
    flex-wrap: wrap;
    gap: 48.6px;
    padding: 50px 50px;
    width: 85%;
    background-color: var(--location-section-bg);
    border-radius: 25px;
    overflow: hidden; 
}
.location {
    height: 340px;
    width: 340px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.location-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.location-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}